Question 1:
What are data structures, and why are they important?

Answer:
Data structures are ways of organizing and storing data so it can be accessed and modified efficiently. They are important because they enable efficient data management, which is critical for solving complex problems and optimizing the performance of programs.

Question 2:
Explain the difference between mutable and immutable data types with examples.

Answer:
Mutable: Can be changed after creation.
Example: list
Immutable: Cannot be changed after creation.
Example: tuple

Question 3:
What are the main differences between lists and tuples in Python?

Answer:
Mutability: Lists are mutable, tuples are immutable.
Performance: Tuples are faster for iteration.
Use cases: Lists are used when data needs to change; tuples are used for fixed collections.

Question 4:
Describe how dictionaries store data.

Answer:
Dictionaries use a hash table to store key-value pairs. Keys are hashed to compute an index, and the corresponding value is stored at that index.

Question 5:
Why might you use a set instead of a list in Python?

Answer:
Sets automatically remove duplicates.

Question 6:
What is a string, and how is it different from a list?

Answer:
A string is an immutable sequence of characters, while a list is mutable and can hold different data types.

Question 7:
How do tuples ensure data integrity in Python?

Answer:
Tuples are immutable, so their contents cannot be changed after creation. This ensures that data remains consistent.

Question 8:
What is a hash table, and how does it relate to dictionaries in Python?

Answer:
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables to provide fast access to key-value pairs.

Question 9:
Can lists contain different data types in Python?

Answer:
Yes

Question 10:
Explain why strings are immutable in Python.

Answer:
Strings in Python are immutable for performance, thread-safety, hashability, and predictable behavior. This design choice makes strings efficient and reliable for various operations.

Question 11:
What advantages do dictionaries offer over lists for certain tasks?

Answer:
Dictionaries provide faster lookups for key-value pairs and are better suited for structured data.

Question 12:
Describe a scenario where using a tuple would be preferable over a list.

Answer:
When you need to ensure data integrity, like storing geographic coordinates.

Question 13:
How do sets handle duplicate values in Python?

Answer:
Sets automatically remove duplicate values

Question 14:
How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?

Answer:
Lists: Checks if an element is in the list.
Dictionaries: Checks if a key is in the dictionary.

Question 15:
Can you modify the elements of a tuple? Explain why or why not.

Answer:
No, tuples are immutable. To change elements, you must create a new tuple.
It is because:
Design choice: Immutability makes tuples hashable, which means they can be used as keys in dictionaries or elements in sets. This is not possible with mutable objects like lists.
Performance: Tuples are optimized for access and iteration because they do not require the overhead of tracking changes.
Safety: By preventing modification, tuples ensure that the data remains secure and predictable.

Question 16:
What is a nested dictionary, and give an example of its use case.

Answer:
A nested dictionary contains dictionaries as values.
Example
students = { "Alice": {"age": 25, "major": "CS"},
    "Bob": {"age": 22, "major": "Math"}}

Question 17:
Describe the time complexity of accessing elements in a dictionary.

Answer:
Accessing an element in a dictionary is ùëÇ(1)on average due to hash table usage.

Question 18:
In what situations are lists preferred over dictionaries?

Answer:
Lists are preferred for ordered data or when order is important.

Question 19:
Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer:
Dictionaries in Python were unordered because they were implemented as hash tables, focusing on fast lookups rather than maintaining orde

Question 20:
Explain the difference between a list and a dictionary in terms of data retrieval.

Answer:
Lists: Retrieval is based on index.
Dictionaries: Retrieval is based on keys.

**PRACTICAL QUESTION**

Question 1: Write a code to create a string with your name and print it?

In [ ]:
name = "Pranjal Mittal"
print(name)

Pranjal Mittal

Question 2: Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
print(len(string))

11

Question 3: Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

Question 4: Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

Question 5: Write a code to replace the word "apple" with "orange" in the string "I like apple"E

In [ ]:
string = "I like apple"
modified_string = string.replace("apple", "orange")
print(modified_string)

I like orange

Question 6: Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Question 7: Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Question 8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Question 9: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

Question 10: Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

Question 11: Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

Question 12: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

Question 13:  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
count_of_two = numbers.count(2)
print(count_of_two)

3

Question 14:  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

Question 15: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
fruits = ('apple', 'orange', 'banana')
is_banana_present = 'banana' in fruits
print(is_banana_present)

True

 Question 16: Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Question 17:  Write a code to add the element 6 to the set {1, 2, 3, 4}

In [ ]:
another_set = {1, 2, 3, 4}
another_set.add(6)
print(another_set)

{1, 2, 3, 4, 6}

Question 18: Write a code to create a tuple with the elements 10, 20, 30 and print it

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

Question 19: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

Question 20: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

Question 21: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

Question 22: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

Question 23: Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Question 24: Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
another_set = {1, 2, 3, 4}
another_set.add(6)
print(another_set)

{1, 2, 3, 4, 6}